<ion-content [fullscreen]="true" class="notif-content">
  <div class="page-wrapper">

  <!-- Top Teal Header Section -->
  <div class="top-section">
    <div class="top-bar">
      <div class="icon-circle back-btn"    >
        <ion-icon name="chevron-back-outline"    (click)="goBack()" ></ion-icon>
      </div>
      <h1 class="page-title">Notification</h1>
      <!-- <div class="icon-circle bell-btn"  >
        <ion-icon name="notifications-outline"></ion-icon>
      </div> -->
    </div>
  </div>

  <!-- White Content Section -->
  <div class="notif-list-wrapper">
    <ion-grid class="notif-grid">

      <!-- Today -->
      <ion-row>
        <ion-col size="12">
          <h3 class="date-label">Today</h3>
        </ion-col>
      </ion-row>

      <ion-row class="notif-item">
        <ion-col size="2" class="icon-col">
          <div class="notif-icon">
            <ion-icon name="notifications"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="7" class="text-col">
          <h4>Reminder!</h4>
          <p>Set up your automatic savings to meet your savings goal...</p>
        </ion-col>
        <ion-col size="3" class="time-col">
          <span>17:00 - April 24</span>
        </ion-col>
      </ion-row>
      <div class="divider"></div>

      <ion-row class="notif-item">
        <ion-col size="2" class="icon-col">
          <div class="notif-icon">
            <ion-icon name="star"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="7" class="text-col">
          <h4>New Update</h4>
          <p>Set up your automatic savings to meet your savings goal...</p>
        </ion-col>
        <ion-col size="3" class="time-col">
          <span>17:00 - April 24</span>
        </ion-col>
      </ion-row>

      <!-- Yesterday -->
      <ion-row>
        <ion-col size="12">
          <h3 class="date-label">Yesterday</h3>
        </ion-col>
      </ion-row>

      <ion-row class="notif-item">
        <ion-col size="2" class="icon-col">
          <div class="notif-icon">
            <ion-icon name="cash"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="7" class="text-col">
          <h4>Transactions</h4>
          <p><span class="tag">Groceries</span> | <span class="tag">Pantry</span> | <span class="amount">-$100,00</span></p>
        </ion-col>
        <ion-col size="3" class="time-col">
          <span>17:00 - April 24</span>
        </ion-col>
      </ion-row>
      <div class="divider"></div>

      <ion-row class="notif-item">
        <ion-col size="2" class="icon-col">
          <div class="notif-icon">
            <ion-icon name="notifications"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="7" class="text-col">
          <h4>Reminder!</h4>
          <p>Set up your automatic savings to meet your savings goal...</p>
        </ion-col>
        <ion-col size="3" class="time-col">
          <span>17:00 - April 24</span>
        </ion-col>
      </ion-row>

      <!-- This Weekend -->
      <ion-row>
        <ion-col size="12">
          <h3 class="date-label">This Weekend</h3>
        </ion-col>
      </ion-row>

      <ion-row class="notif-item">
        <ion-col size="2" class="icon-col">
          <div class="notif-icon">
            <ion-icon name="arrow-redo"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="7" class="text-col">
          <h4>Expense Record</h4>
          <p>We recommend that you be more attentive to your finances.</p>
        </ion-col>
        <ion-col size="3" class="time-col">
          <span>17:00 - April 24</span>
        </ion-col>
      </ion-row>
      <div class="divider"></div>

      <ion-row class="notif-item">
        <ion-col size="2" class="icon-col">
          <div class="notif-icon">
            <ion-icon name="cash"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="7" class="text-col">
          <h4>Transactions</h4>
          <p><span class="tag">Food</span> | <span class="tag">Dinner</span> | <span class="amount">-$70,40</span></p>
        </ion-col>
        <ion-col size="3" class="time-col">
          <span>17:00 - April 24</span>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  </div>
</ion-content>


 
<ion-footer class="floating-footer">
  <div class="nav-item">
    <ion-icon    name="home-outline"
                                       (click)="goTobottomnavigation()">     </ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="search-outline"               (click)="goTodaily()"            ></ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="swap-horizontal-outline" (click)="goTotransaction()"  ></ion-icon>
  </div>

    <div class="nav-item">
      <ion-icon name="layers-outline"   (click)="goTocategories()"    ></ion-icon>

  </div>
    <div class="nav-active-bg">
  <div class="nav-item nav-item--active">
   
    <ion-icon name="person-outline"></ion-icon>
     </div>
  </div>
</ion-footer>