<ion-content [fullscreen]="true" [scrollY]="false" class="security-pin-content">

  <!-- Green Top Section -->
  <div class="green-top">
    <h1 class="page-title">Security Pin</h1>
  </div>

  <!-- White Bottom Sheet -->
  <div class="white-sheet">

    <div class="center-wrapper">

      <!-- Heading -->
      <p class="pin-heading">Enter Security Pin</p>

      <!-- Pin Circles -->
      <div class="pin-row">
        <div class="pin-circle">2</div>
        <div class="pin-circle">7</div>
        <div class="pin-circle">3</div>
        <div class="pin-circle">9</div>
        <div class="pin-circle">1</div>
        <div class="pin-circle">6</div>
      </div>

      <!-- Accept Button -->
      <button class="accept-btn" type="button">Accept</button>

      <!-- Send Again Button -->
      <button class="send-again-btn" type="button">Send Again</button>

      <!-- Spacer -->
      <div class="spacer"></div>

      <!-- Or sign up with -->
      <p class="or-text">or sign up with</p>

      <!-- Social Buttons -->
      <div class="social-row">
        <button class="social-btn" type="button">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button class="social-btn" type="button">
          <ion-icon name="logo-google"></ion-icon>
        </button>
      </div>

      <!-- Don't have account -->
      <div class="bottom-row">
        <span class="bottom-text">Don't have an account?</span>
        <button class="link-btn" type="button">Sign Up</button>
      </div>

    </div>
  </div>

</ion-content>