<ion-content class="john-fp-content">
  <div class="main-content">

    <!-- ===== GREEN TOP SECTION ===== -->
    <div class="top-section">
      <div class="navbar-row">
        <div class="nav-btn nav-btn--back"  (click)="goTofingerprint()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div class="nav-title">Jhon Fingerprint</div>
        <div class="nav-btn nav-btn--bell" (click)="goTonotification()">
          <ion-icon name="notifications-outline" (click)="goTonotification()"></ion-icon>
        </div>
      </div>
    </div>

    <!-- ===== WHITE SECTION ===== -->
    <div class="white-section">

      <!-- Fingerprint Circle -->
      <div class="fp-circle">
        <ion-icon name="finger-print-outline" class="fp-icon"></ion-icon>
      </div>

      <!-- Name -->
      <div class="fp-name">Jhon Fingerprint</div>

      <!-- Delete Button -->
      <div class="delete-btn"  (click)="goTofingerprintelaminate()" >Delete</div>

    </div>

  </div>
</ion-content>

<ion-footer class="floating-footer">
  <div class="nav-item">
    <ion-icon    name="home-outline"
                                       (click)="goTobottomnavigation()">     </ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="search-outline"               (click)="goTodaily()"            ></ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="swap-horizontal-outline" (click)="goTotransaction()"  ></ion-icon>
  </div>

    <div class="nav-item">
      <ion-icon name="layers-outline"   (click)="goTocategories()"    ></ion-icon>

  </div>
    <div class="nav-active-bg">
  <div class="nav-item nav-item--active">
   
    <ion-icon name="person-outline"></ion-icon>
     </div>
  </div>
</ion-footer>