<ion-content [fullscreen]="true" class="create-account-content">


  <div class="green-top">
    <h1 class="page-title">Create Account</h1>
  </div>


  <div class="white-sheet">


    <div class="input-group">
      <label class="input-label">Full Name</label>
      <div class="input-wrapper">
        <ion-input type="text" placeholder="" class="custom-input"
        
          [(ngModel)]="name"
        ></ion-input>
      </div>
    </div>


    <div class="input-group">
      <label class="input-label">Email</label>
      <div class="input-wrapper">
        <ion-input type="email" placeholder="" class="custom-input"
        
          [(ngModel)]="email"
        
        ></ion-input>
      </div>
    </div>


    <div class="input-group">
      <label class="input-label">Mobile Number</label>
      <div class="input-wrapper">
        <ion-input type="tel" placeholder="" class="custom-input"
          
          [(ngModel)]="number"
        ></ion-input>
      </div>
    </div>

   
    <div class="input-group">
      <label class="input-label">Date Of Birth</label>
      <div class="input-wrapper">
        <ion-input type="text" placeholder="DD / MM / YYY" class="custom-input"
          [(ngModel)]="datebirth"
        ></ion-input>
      </div>
    </div>


    <div class="input-group">
      <label class="input-label">Password</label>
      <div class="input-wrapper input-wrapper--icon">
        <ion-input type="password" placeholder="••••••••••" class="custom-input"
           [(ngModel)]="password"
        ></ion-input>
        <button class="eye-btn" type="button">
          <ion-icon name="eye-outline"></ion-icon>
        </button>
      </div>
    </div>


    <div class="input-group">
      <label class="input-label">Confirm Password</label>
      <div class="input-wrapper input-wrapper--icon">
        <ion-input type="password" placeholder="••••••••••" class="custom-input"
        
          [(ngModel)]="confirmpassword"
        ></ion-input>
        <button class="eye-btn" type="button">
          <ion-icon name="eye-outline"></ion-icon>
        </button>
      </div>
    </div>

   
    <p class="terms-text">
      By continuing, you agree to<br>
      <button class="link-btn" type="button" (click)="goToconditions()">Terms of Use</button>
      and
      <button class="link-btn" type="button">Privacy Policy.</button>
    </p>


    <button class="signup-btn" type="button"     (click)="onSingup()"   >Sign Up</button>

    <div class="login-row">
      <span class="login-text">Already have an account?</span>
      <button class="link-btn login-link" type="button"(click)="goTosingup()">Log In</button>
    </div>

  </div>

</ion-content>