<ion-content class="security-content">
  <div class="main-content">

    <!-- ===== GREEN TOP SECTION ===== -->
    <div class="top-section">
      <div class="navbar-row">
        <div class="nav-btn nav-btn--back">
          <ion-icon name="chevron-back-outline" (click)="goToprofile() "  ></ion-icon>
        </div>
        <div class="nav-title">Security</div>
        <div class="nav-btn nav-btn--bell"   (click)="goTonotification()" > 
          <ion-icon name="notifications-outline"  (click)="goTonotification()"   ></ion-icon>
        </div>
      </div>
    </div>

    <!-- ===== WHITE SECTION ===== -->
    <div class="white-section">

      <div class="section-label">Security</div>

      <!-- Change Pin -->
      <div class="menu-item"   (click)="goTochangepin()"   >
        <span class="menu-label"     (click)="goTochangepin()"     >Change Pin</span>
        <ion-icon name="chevron-forward-outline" class="menu-arrow"        (click)="goTochangepin()"    ></ion-icon>
      </div>

      <!-- Fingerprint -->
      <div class="menu-item">
        <span class="menu-label" (click)="goTofingerprint()" >Fingerprint</span>
        <ion-icon name="chevron-forward-outline" class="menu-arrow"   (click)="goTofingerprint()"  ></ion-icon>
      </div>

      <!-- Terms And Conditions -->
      <div class="menu-item">
        <span class="menu-label"   (click)="goToconditions()"   >Terms And Conditions</span>
        <ion-icon name="chevron-forward-outline" class="menu-arrow"    (click)="goToconditions()"              ></ion-icon>
      </div>

    </div>

  </div>
</ion-content>



<ion-footer class="floating-footer">
  <div class="nav-item">
    <ion-icon    name="home-outline"
                                       (click)="goTobottomnavigation()">     </ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="search-outline"               (click)="goTodaily()"            ></ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="swap-horizontal-outline" (click)="goTotransaction()"  ></ion-icon>
  </div>

    <div class="nav-item">
      <ion-icon name="layers-outline"   (click)="goTocategories()"    ></ion-icon>

  </div>
    <div class="nav-active-bg">
  <div class="nav-item nav-item--active">
   
    <ion-icon name="person-outline"></ion-icon>
     </div>
  </div>
</ion-footer>