<ion-content class="fingerprint-content">
  <div class="main-content">

    <!-- GREEN TOP SECTION -->
    <div class="top-section">
      <div class="navbar-row">
        <div class="nav-btn nav-btn--back">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div class="nav-title">Add Fingerprint</div>
        <div class="nav-btn nav-btn--bell">
          <ion-icon name="notifications-outline"></ion-icon>
        </div>
      </div>
    </div>

    <!-- WHITE SECTION -->
    <div class="white-section">

      <div class="content-wrap">

        <!-- Fingerprint Circle -->
        <div class="fingerprint-circle">
          <ion-icon name="finger-print-outline"></ion-icon>
        </div>

        <!-- Text -->
        <div class="fingerprint-title">Use Fingerprint To Access</div>
        <div class="fingerprint-desc">
          Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
        </div>

        <!-- Button -->
        <div class="touch-btn">Use Touch Id</div>

      </div>

    </div>

  </div>
</ion-content>


<ion-footer class="floating-footer">
  <div class="nav-item">
    <ion-icon name="home-outline"></ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="search-outline"></ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="swap-horizontal-outline"></ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="layers-outline"></ion-icon>
  </div>
  <div class="nav-active-bg">
    <div class="nav-item">
      <ion-icon name="person-outline"></ion-icon>
    </div>
  </div>
</ion-footer>