<ion-content class="terms-content">
  <div class="main-content">


    <div class="top-section">
      <div class="navbar-row">
        <div class="nav-btn nav-btn--back">
          <ion-icon name="chevron-back-outline"  (click)="goTosecurity()" ></ion-icon>
        </div>
        <div class="nav-title">Terms And Conditions</div>
        <div class="nav-btn nav-btn--bell" (click)="goTonotification()">
          <ion-icon name="notifications-outline" (click)="goTonotification()"></ion-icon>
        </div>
      </div>
    </div>


    <div class="white-section">

      <div class="terms-container">


        <div class="terms-heading">Est Fugiat Assumenda Aut Reprehenderit</div>

     
        <div class="terms-para">
          Lorem ipsum dolor sit amet. Et odio officia aut voluptate internos est omnis vitae ut architecto sunt non teneturr fuga ut provident vero. Quo aspernatur facere et consectetur ipsum et facere corrupt est aspernatur facere. Est fugiat assumenda aut reprehenderit voluptatem sed.
        </div>

       
        <ol class="terms-list terms-list--numbered">
          <li>Ea voluptates omnis aut sequi sequi.</li>
          <li>Est dolore quae in aliquid ducimus et autem reprehendus.</li>
          <li>Aut ipsum Quis qui porro quasi aut minus placeat!</li>
          <li>Sit consequuntur neque ab vitae facere.</li>
        </ol>

        
        <div class="terms-para">
          Aut quidem accusantium nam alias autem eum officiis placeat et omnis autem id officiis perspiciatis qui corrupti officia eum aliquam provident. Eum voluptas error et optio dolorum cum molestiae nobis et odit molestiae quo magnam impedit sed fugiat nihil non nihil vitae.
        </div>

        <ul class="terms-list terms-list--bullet">
          <li>Aut fuga sequi eum voluptatibus provident.</li>
          <li>Eos consequuntur voluptas vel amet eaque aut dignissimos velit.</li>
        </ul>

        <div class="terms-para">
          Vel exercitationem quam vel eligendi rerum At harum consequatur et molestias. Quo quo? Es accusantium dolores qui rerum aliquam est perferendis mollitia et ipsum ipsa qui enim autem At corporis sunt. Aut edit quisquam est reprehenderit itaque aut accusantium dolor qui neque repellat.
        </div>

     
        <div class="terms-para">
          Read the terms and conditions in more detail at
          <span class="terms-link">www.finwiseapp.de</span>
        </div>


        <div class="terms-checkbox-row">
          <div class="checkbox-wrap">
            <ion-icon name="checkbox-outline" class="checkbox-icon"></ion-icon>
          </div>
          <span class="checkbox-label">I accept all the terms and conditions</span>
        </div>

    
        <div class="accept-btn">Accept</div>

      </div>

    </div>

  </div>
</ion-content>





 
<ion-footer class="floating-footer">
  <div class="nav-item">
    <ion-icon    name="home-outline"
                                       (click)="goTobottomnavigation()">     </ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="search-outline"               (click)="goTodaily()"            ></ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="swap-horizontal-outline" (click)="goTotransaction()"  ></ion-icon>
  </div>

    <div class="nav-item">
      <ion-icon name="layers-outline"   (click)="goTocategories()"    ></ion-icon>

  </div>
    <div class="nav-active-bg">
  <div class="nav-item nav-item--active">
   
    <ion-icon name="person-outline"></ion-icon>
     </div>
  </div>
</ion-footer>