<ion-content class="login-content">

  <!-- Welcome Card -->
  <div class="welcome-card">
    <h1 class="welcome-title">Welcome</h1>
  </div>

  <!-- Form Container -->
  <div class="form-container">

    <!-- Username / Email -->
    <div class="input-group">
      <label class="input-label">Username Or Email</label>
      <div class="input-wrapper">
        <ion-input type="email" class="custom-input"></ion-input>
        <ion-icon name="mail-outline" class="input-icon"></ion-icon>
      </div>
    </div>

    <!-- Password -->
    <div class="input-group">
      <label class="input-label">Password</label>
      <div class="input-wrapper">
        <ion-input type="password" class="custom-input"></ion-input>
        <ion-icon name="eye-off-outline" class="input-icon"></ion-icon>
      </div>
    </div>

    <!-- Login Button -->
    <div class="btn-row">
      <ion-button expand="block" class="btn-login" shape="round">Log In</ion-button>
    </div>

    <!-- Forgot Password -->
    <div class="forgot-row">
      <span class="forgot-text">Forgot Password?</span>
    </div>

    <!-- Sign Up Button -->
    <div class="btn-row">
      <ion-button expand="block" fill="outline" class="btn-signup" shape="round">Sign Up</ion-button>
    </div>

    <!-- Fingerprint -->
    <div class="fingerprint-row">
      <span class="fp-text">Use <strong>Fingerprint</strong> To Access</span>
    </div>

    <!-- Or sign up with -->
    <div class="or-row">
      <span class="or-text">or sign up with</span>
    </div>

    <!-- Social Icons -->
    <div class="social-row">
      <div class="social-btn">
        <ion-icon name="logo-facebook" class="icon-facebook"></ion-icon>
      </div>
      <div class="social-btn">
        <ion-icon name="logo-google" class="icon-google"></ion-icon>
      </div>
    </div>

    <!-- Bottom Text -->
    <div class="bottom-row">
      <span class="bottom-text">Don't have an account? <span class="signup-link">Sign Up</span></span>
    </div>

  </div>

</ion-content>