<ion-content class="settings-content">
  <div class="main-content">

    <!-- GREEN TOP SECTION -->
    <div class="top-section">
      <div class="navbar-row">
        <div class="nav-btn nav-btn--back">
          <ion-icon name="chevron-back-outline"  (click)="goToprofile()" ></ion-icon>
        </div>
        <div class="nav-title">Settings</div>
        <div class="nav-btn nav-btn--bell" (click)="goTonotification()"  >
          <ion-icon name="notifications-outline"(click)="goTonotification()"></ion-icon>
        </div>
      </div>
    </div>

    <!-- WHITE SECTION -->
    <div class="white-section">
      <div class="settings-container">

        <!-- Notification Settings -->
        <div class="settings-item" (click)="goTonotificationsettings()">
          <div class="settings-icon-wrap">
            <ion-icon name="notifications-outline"></ion-icon>
          </div>
          <div class="settings-label">Notification Settings</div>
          <ion-icon name="chevron-forward-outline" class="settings-arrow"></ion-icon>
        </div>

        <!-- Password Settings -->
        <div class="settings-item" (click)="goTopaswordchange()">
          <div class="settings-icon-wrap">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </div>
          <div class="settings-label">Password Settings</div>
          <ion-icon name="chevron-forward-outline" class="settings-arrow"></ion-icon>
        </div>

        <!-- Delete Account -->
        <div class="settings-item">
          <div class="settings-icon-wrap">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="settings-label" (click)="goTodeleteaccount()" >Delete Account</div>
          <ion-icon name="chevron-forward-outline" class="settings-arrow"></ion-icon>
        </div>

      </div>
    </div>

  </div>
</ion-content>












<ion-footer class="floating-footer">
  <div class="nav-item">
    <ion-icon    name="home-outline"
                                       (click)="goTobottomnavigation()">     </ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="search-outline"               (click)="goTodaily()"            ></ion-icon>
  </div>
  <div class="nav-item">
    <ion-icon name="swap-horizontal-outline" (click)="goTotransaction()"  ></ion-icon>
  </div>

    <div class="nav-item">
      <ion-icon name="layers-outline"   (click)="goTocategories()"    ></ion-icon>

  </div>
    <div class="nav-active-bg">
  <div class="nav-item nav-item--active">
   
    <ion-icon name="person-outline"></ion-icon>
     </div>
  </div>
</ion-footer>